.poster {
    width: 450px;
}

.page {
    max-width: 1200px;
    margin: 0 auto;
}

.film {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.buttonBack {
    margin-bottom: 10px;
    width: fit-content;

    background-color: black;
    padding: 8px 16px;
    border: 1px solid black;

    color: white;
    border-radius: 8px;

    cursor: pointer;
}